@model IEnumerable<Memory>

@{
    ViewBag.Title = "Memory";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Memory</title>
</head>
<body>
<div class="col-md-3">
    <form class="form-inline" asp-controller="Memory" asp-action="Search" style="padding-right: 5px;">
        <input name="search" type="text" class="form-control bg-dark text-white" placeholder="Search by name" aria-label="Recipient's username">
    </form>
</div>
<p></p>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-sm">
            <thead class="table-dark">
            <tr class="text-center">
                <th>@Html.DisplayNameFor(x => x.MemoryId)</th>
                <th>@Html.DisplayNameFor(x => x.MemoryName)</th>
                <th>@Html.DisplayNameFor(x => x.Ram)</th>
                <th>@Html.DisplayNameFor(x => x.Modules)</th>
                <th>@Html.DisplayNameFor(x => x.Timing)</th>
                <th>@Html.DisplayNameFor(x => x.Producer)</th>
                <th>@Html.DisplayNameFor(x => x.Rgb)</th>
                <th>@Html.DisplayNameFor(x => x.Delays)</th>
                <th>@Html.DisplayNameFor(x => x.Price)</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <th>Actions</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var x in Model)
            {
                <tr class="text-center">
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.MemoryId)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.MemoryName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Ram)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Modules)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Timing)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Producer)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Rgb)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Delays)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Price)
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle">
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@x.MemoryId">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@x.MemoryId">Delete</a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-white">
        <a asp-controller="Memory" asp-action="Create" class="btn btn btn-dark">Add Memory</a>
    </div>
}
</body>
</html>
