@model IEnumerable<Gpu>

@{
    ViewBag.Title = "Gpu";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Gpu</title>
</head>
<body>
<div class="col-md-3">
    <form class="form-inline" asp-controller="Gpu" asp-action="Search" style="padding-right: 5px;">
        <input name="search" type="text" class="form-control bg-dark text-white" placeholder="Search by name" aria-label="Recipient's username">
    </form>
</div>
<p></p>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-sm">
            <thead class="table-dark">
            <tr class="text-center">
                <th>@Html.DisplayNameFor(x => x.GpuId)</th>
                <th>@Html.DisplayNameFor(x => x.GpuModel)</th>
                <th>@Html.DisplayNameFor(x => x.Company)</th>
                <th>@Html.DisplayNameFor(x => x.Rgb)</th>
                <th>@Html.DisplayNameFor(x => x.Memory)</th>
                <th>@Html.DisplayNameFor(x => x.SupportedMemoriesGPU)</th>
                <th>@Html.DisplayNameFor(x => x.Price)</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <th>Actions</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var x in Model)
            {
                <tr class="text-center">
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.GpuId)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.GpuModel)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Company)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Rgb)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Memory)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.SupportedMemoriesGPU)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => x.Price)
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle">
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@x.GpuId">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@x.GpuId">Delete</a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-white">
        <a asp-controller="Gpu" asp-action="Create" class="btn btn btn-dark">Add Gpu</a>
    </div>
}
</body>
</html>
